@import '../../../variables';

.page-content {
  max-width: @max-screen-width;
  margin: @spacing-xl auto;
  padding: 0 @spacing-md;
  min-height: calc(100vh - 2 * @spacing-xl);
  gap: @spacing-md;
}
